/*  Fomatação geral */
body{
	font-family: "Gloria+Hallelujah", Handlee, cursive;


	
}

h1, h2, h3{

	margin: 0;
	font-family: Kalam, "Gloria+Hallelujah", "Rock+Salt", cursive;
	font-weight: 700;

}

p{

	font-family: "Gloria+Hallelujah", "Rock+Salt", Handlee, cursive;
	font-style: "Gloria+Hallelujah"

}
/*  Cabeçalho ou barra de navegação */

nav{

	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #18314C;
	padding: 20px;

}

nav ul{
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%
}

nav ul li{
	text-align:center;
	width: 100%;
	font-size: 1.5em;
	padding: 2%;


}

nav ul li a{
	display: inline-block;
	padding: 10px 0;
	width: 100%;
	text-decoration: none;
	color: #fff


}

/* Header */

header{
	background-image: url('../img/fundo do h1.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 30px;



}

header p{
	margin-bottom: 2em;
	font-size: 1.7em;


}

.botão{

	color: #fff;
	text-decoration: none;
	padding: 10px 30px;
	background-color: #103959;
	font-size: .9em;
	border-radius: 10%

}


@media screen and (min-width: 768px){

/* Barra de navegação ou cabeçalho*/
nav{

	flex-direction: row;
	justify-content: space-around;

}

nav ul{

	flex-direction: row;
	width: 70%
}

/* Header */

header{
	height: 600px;
	height: 60vh;
	justify-content: center;

}



}


